// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.block1{
    background-color: red;
    width: 400px;
    height: 100px;
}
.block2{
    background-color: green;
    width: 400px;
    height: 100px;
}
.block3{
    background-color: blue;
    width: 400px;
    height: 100px;
}
.work-area{
    background-color: aquamarine;
}

.tool-bar{
    background-color: #313A49;
    height: 76px;
    padding: 1.5rem;
    display: flex;


}

.color-picker{
    width: 174px;
    top: -0.75rem;
    height: 40px;
    background-color: black;


}


.cards-blocks-img {
    display: inline-block;
    overflow: hidden;
    transition: 1s; /* Время эффекта */
    height: 210px;
    object-fit: cover;
}
.cards-blocks-img img {
    display: block;
    transition: 1s; /* Время эффекта */
}
.cards-blocks-img img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}
