// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.block1{
    background-color: red;
    width: 400px;
    height: 100px;
}
.block2{
    background-color: green;
    width: 400px;
    height: 100px;
}
.block3{
    background-color: blue;
    width: 400px;
    height: 100px;
}
.work-area{

}

.tool-bar{
    background-color: #313A49;
    height: 76px;
    padding: 1.5rem;
    display: flex;


}

.color-picker{
    width: 174px;
    top: -0.75rem;
    height: 40px;
    background-color: black;


}


.cards-blocks-img {
    display: inline-block;
    overflow: hidden;
    transition: 1s; /* Время эффекта */
    height: 210px;
    object-fit: cover;
}
.cards-blocks-img img {
    display: block;
    transition: 1s; /* Время эффекта */
}
.cards-blocks-img img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.block-library{
    width: 16%;
    background-color: #F4F4F5;
    height: 1000px;
    overflow: auto;
}

.library-item{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 40px;
    border-bottom: 0.1rem solid gray;
    border-left: 0;
    border-right: 0;
    padding-top: 0.5rem;
    text-align: center;
    background-color: #F4F4F5;
    cursor: grab;
    font-weight: bold;
}
.library-item:hover{
    border-right: 5px solid orangered;
}

.cyber-content{
    display: flex;
}
.tool-bar-scroll{
    height: 500px;
    border: 1px solid #c1c1c1;
    overflow: auto;
}
.tool-bar-scroll h3{
    margin-left: 1rem;
}
.block-component{
    margin-top: 1rem;
    .deleteButton{
        display: none;
    }
}

.block-component:hover{
    .deleteButton{
        display: block;
    }
}
.work-area{
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    width: 65%;
    padding: 1rem;
    //max-height: 1000px;
    //overflow: auto;
    border: 1px dashed black;

}
.brand{
    color: white;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.athena{
     height: 200px;
    position:relative;
    z-index:1;
    visibility: visible;
 }
body{
    font-family: "Rostelecom Basis" !important;
}
